html, body {
	background-color: #f2f2f2;
	margin: 0;
    background: url("clipCar.png");
    background-size: cover;
    background-repeat: none;
}

/* Navigation Bar */
.topnav {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #333;
    overflow: visible;
}

/* Logo */
.logo {
    height: 40px;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 25px;
}

/* Nav Menu */
.nav {
    margin: 0;
    position: relative;
    float: right;
}

/* Remove margins and padding from the list, and add a black background color */
ul.menu {
    font-family: "Courier New", Courier, monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: visible;
}

/* Float the list items side by side */
ul.menu li {
    float: right;
    background-color: #333;
    height: 100%;
}

/* Style the links inside the list items */
ul.menu li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    /*transition: 0.3s;*/
    font-size: 15px;
    height: 100%;
}

ul.menu li a:hover {
    background-color: black;
}

.learnmore {
    cursor: pointer;
}

/* Dropdown menu */
.dropdown {
    list-style-type: none;
    width: 83px;
    text-align: center;
    position: absolute;
    display: none;
    font-size: 12px;
    overflow: visible;
}

.dropdown li a {
    background-color: #333;
    width: 100%;
    font-size: 12px;
    display: block;
    padding: 14px 16px;
    text-align: center;
    position: relative;
    width: 92px;
    cursor: pointer;
}

.dropdown li a:hover {
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

/* Popup Login/Signup Window */
#lean_overlay {
        position: fixed;
        z-index: 100;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: #f2f2f2;
        display: none;
}

.popupContainer {
        position: absolute;
        width: 525px;
        height: auto;
        left: 45%;
        top: 60px;
        background: #FFF;
        font-family: Times New Roman, times, serif;
        border-style: solid;
        border-color: #333;
        border-width: 7px;
}

#modal_trigger {
        display: block;
        background-color: #333;
        height: 100%;
        margin: 0;
}

#modal_trigger:hover {
    background-color: black;
}

.btn {
        padding: 10px 20px;
        background: #F4F4F2;
        height: 100%;
}

.btn_red {
        background: #ED6347;
        color: #333;
        width: 150px;
}

.btn:hover {
        background: black;
}

.btn_red:hover {
        background: #C12B05;
}

a.btn {
        color: #333;
        text-align: center;
        text-decoration: none;
        background-color: #333;
        height: 100%;
}

a.btn_red {
        color: #333;
        height: auto;
        background: #333;
}

.one_half {
        width: 50%;
        display: inline-block;
        float: left;
}

.one_half.last {
        width: 40%;
        margin-left: 0;
}

.account {
    padding-top: 14px;
    width: 45%;
    float: right;
    display: inline-block;
}

/* Popup Styles*/

.popupHeader {
        font-size: 16px;
        text-transform: uppercase;
}

.popupHeader {
        background: #333;
        position: relative;
        padding: 10px 20px;
        border-bottom: 7px solid #333;
        font-weight: bold;
        color: #f2f2f2;
}

.popupHeader .closeX {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        background: #333;
        cursor: pointer;
        color: #f2f2f2;
        font-size: 16px;
}

.popupBody {
        padding: 20px;
}

/* Social (Facebook/Google) Login Form */

.social_login {}

.social_login .social_box {
        display: block;
        clear: both;
        padding: 10px;
        margin-bottom: 10px;
        background: #F4F4F2;
        overflow: hidden;
}

.social_login .icon {
        display: block;
        width: 10px;
        padding: 5px 10px;
        margin-right: 10px;
        float: left;
        color: #FFF;
        font-size: 16px;
        text-align: center;
}

.social_login .fb .icon {
        background: #3B5998;
}

.social_login .google .icon {
        background: #DD4B39;
}

.social_login .icon_title {
        display: block;
        padding: 5px 0;
        float: left;
        font-weight: bold;
        font-size: 16px;
        color: #777;
}

.social_login .social_box:hover {
        background: #E4E4E2;
}

.centeredText {
        text-align: center;
        margin: 20px 0;
        clear: both;
        overflow: hidden;
}

.action_btns {
        clear: both;
        overflow: hidden;
}

.action_btns a {
        display: block;
}

.action_btns .back_btn {
    padding: 14px 16px;
    width: 50px;
    float: right;
}

.action_btns #register_form {
    display: inline-block;
    background-color: white;
    color: gray;
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
}

.action_btns #register_form:hover {
    text-decoration: underline;
}

/* User Login Form */

.user_login {
        display: block;
}

.user_login label {
    display: none;
}

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
        display: block;
        width: 95%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
        margin-bottom: 5px;
}

.user_login input[placeholder] {
    text-transform: uppercase;
}

.user_login .forgot_password {
    color: gray;
    margin-top: 0px;
    float: left;
    vertical-align: top;
    padding-top: 0px;
}

.user_login .forgot_password:hover {
    text-decoration: underline;
    background-color: #FFF;
}

/* User Register Form */

.user_register {
        display: none;
}

.user_register input[type="text"],
.user_register input[type="email"],
.user_register input[type="password"] {
        display: block;
        width: 95%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
        margin-bottom: 5px;
}

.user_register input[placeholder] {
    text-transform: uppercase;
}

/* List a Car Form */

.listform {
    background-color: #f2f2f2;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 50px;
    border-radius: 8px;
    color: black;
}

.listform h1 {
    padding-top: 20px;
    color: #333;
    font-family: Open Sans, serif;
    font-size: 40px;
    margin-bottom: 0px;
}

.listform p {
    margin-top: 10px;
    color: gray;
    font-family: Open Sans, serif;
    font-size: 15px;
    padding-bottom: 10px;
}

.listform input[type="text"] {
    display: block;
    height: 20px;
    width: 90%;
    margin-right: 5%;
    margin-left: 3%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #333;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 2px;
}

.listform input[placeholder] {
    color: black;
}

.listform button {
    width: 35%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: none;
    color: #f2f2f2;
    font-size: 25px;
    vertical-align: center;
    font-family: Open Sans, serif;
    cursor: pointer;
}

.listform button:hover {
    background-color: black;
}

/* Footer */
footer {
    margin-top: 150px;
    background-color: #333;
    padding-bottom: 20px;
    font-family: Times, serif;
}

footer .container {
    display: inline-block;
    width: 100%;
}

footer .start,
footer .footLearn {
    float: left;
    margin-left: 20px;
    color: gray;
    width: 20%;
}

footer .container li {
    font-size: 16px;
    text-align: left;
    list-style: none;
}

footer .container li a {
    color: gray;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    margin-left: 0;
    margin-bottom: 3px;
}

footer .container li a:hover {
    text-decoration: underline;
}

footer .container li button {
    background-color: #333;
    color: gray;
    font-size: 15px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    border: none;
    text-align: left;
    padding: 0;
    font-family: Times, serif;
}

footer .container li button:hover {
    text-decoration: underline;
}

footer .bottomBar li {
    width: 100%;
    display: inline;
    margin-left: 5px;
    color: gray;
    font-size: 15px;
    padding-right: 8px;
    color: gray;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

footer .bottomBar li a {
    text-decoration: none;
    color: gray;
}

footer .bottomBar li a:hover {
    text-decoration: underline;
}